<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>User Registration</title>

  {% include "header_links.html" %}

</head>

<body>

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" action="{{ url_for('register') }}" method="post" novalidate>

                    <div class="col-12">
                      {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          <div class="msg alert alert-success alert-dismissible fade show">
                            <i class="bi bi-check-circle me-1"></i>

                              <ul>
                                  {% for message in messages %}
                                  <li>{{ message }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                      {% endwith %}
                    </div>

                    <div class="col-12">
                      <label for="username" class="form-label">Username:</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="username" value="{{ username }}" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                        {% if errors.get('username') %}
                        <p style="color: red; margin-bottom:0px;">{{ errors.get('username') }}</p>
                        {% endif %}
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Your Email</label>
                      <input type="email" name="email" class="form-control" id="email" value="{{ email }}" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                      {% if errors.get('email') %}
                      <p style="color: red; margin-bottom:0px;">{{ errors.get('email') }}</p>
                      {% endif %}
                    </div>


                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password" value="{{ password }}" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                      {% if errors.get('password') %}
                      <p style="color: red; margin-bottom:0px;">{{ errors.get('password') }}</p>
                      {% endif %}
                    </div>


                    <div class="col-12">
                      <label for="confirm_password" class="form-label">Confirm Password</label>
                      <input type="password" name="confirm_password" class="form-control" id="confirm_password" value="{{ confirm_password }}" required>
                      <div class="invalid-feedback">Please enter your Confirm Password!</div>
                      {% if errors.get('confirm_password') %}
                      <p style="color: red; margin-bottom:0px;">{{ errors.get('confirm_password') }}</p>
                      {% endif %}
                    </div>

                    <div class="col-12">
                      <label for="phone_number" class="form-label">Phone Number</label>
                      <input type="number" name="phone_number" class="form-control" id="phone_number" value="{{ phone_number }}" required>
                      <div class="invalid-feedback">Please enter your Phone Number!</div>
                      {% if errors.get('phone_number') %}
                      <p style="color: red; margin-bottom:0px;">{{ errors.get('phone_number') }}</p>
                      {% endif %}
                    </div>

                    <div class="col-12">
                      <label for="license_number" class="form-label">License Number</label>
                      <input type="text" name="license_number" class="form-control" id="license_number" value="{{ license_number }}" required>
                      <div class="invalid-feedback">Please enter your Liecense Number!</div>
                      {% if errors.get('license_number') %}
                      <p style="color: red; margin-bottom:0px;">{{ errors.get('license_number') }}</p>
                      {% endif %}
                    </div>


                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>


                  </form>

                </div>
              </div>

              <div class="credits">
                Designed by <a href="#">Muhammad Muddasser Khan</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

{% include "footer_links.html" %}

</body>

</html>
